
<div ng-controller="journalController" ng-init="getjournalanduser()">
<div class = "head">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <link rel="stylesheet" href="../css/journalStyle.css">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/home">UI</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="#/createChapter"><span class="glyphicon glyphicon-plus"></span></a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Put request here</a></li>
          </ul>
      <li><a href="#/logout"><span class="glyphicon glyphicon-remove-sign"></span></a></li>
        </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>
<br><br><br>
<a href="#/journal/{{journal._id}}">Back to journal</a> < --Put this in the navbar and get that working
  <div class="content">
    <h1 style="text-align:center">Categories</h1>
  </div>
  <center>
    <div class="chapterline">

    </div>
      <div class="chapter" ng-repeat="category in journal.category">
        <h3><a href="#/journal/{{journal._id}}/{{category._id}}">{{category.name}}</a></h3>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
    $('.chapter').on("hover", function(){
      $(this).css('border','1px solid black')
    })
    </script>
  </center>
</div>
