
<div ng-controller="journalController" ng-init="getjournalanduser()">
  <link rel="stylesheet" href="../css/createChapterStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
  <div class="createContent" >
    <div class="headerDiv">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">


      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/home">U&I</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-remove-sign"></span> Log Out</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <div ng-if="currentuser.requests.length>0">
                  <div ng-repeat="request in currentuser.requests">
                    <li><b>{{request.username}}</b>  <button type="button" name="button" class="btn btn-default" ng-click="acceptRequest(request._id)" style="background-color:#31B0D5; color:white;"><span class="glyphicon glyphicon-ok"></span></button><button type="button" name="button" ng-click="denyRequest(request._id)"class="btn btn-default" style="background-color:#fc8888; color:white;"><span class="glyphicon glyphicon-remove"></button>
                  </div>
                </div>
              </ul>
          </li>
          <li>
            <a href="#/journal/{{journal._id}}"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
  <br>
  <div class="enterContent">
    <h2 id="contentTitle">Add something to your Journal</h2>
    <form class="form-horizontal">
      <div class="form-group" id="uploadButton">
        <div class="col-sm-5">
          <button type="button" class='btn btn-default form-control' ng-click="uploadMany()">Upload Images</button>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <select class="form-control" ng-model="content.existingChapter" >
            <option value="" disabled selected>Pick a chapter</option>
            <option ng-repeat="chapter in journal.chapter" value="{{chapter._id}}">{{chapter.name}}</option>
          </select>
        </div>
      </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" class="form-control" id="usr" ng-model="content.newchapter" placeholder="Make a new chapter">
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-4">
            <select class="form-control" ng-model="content.existingCategory" name="category" >
              <option value="" disabled selected>Pick a category</option>
              <option ng-repeat="category in journal.category" value="{{category._id}}">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" class="form-control" id="usr" ng-model="content.newCategory" placeholder="Make a new category">
          </div>
        </div>
      <div class="form-group">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="usr" name="title" ng-model="content.title" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <textarea class="form-control" name="description" rows="6" cols="40" ng-model="content.desc" placeholder="Describe the content you're adding"></textarea>
        </div>
      </div>
      <div  class="form-group" id="add_button">
      <div class=" col-sm-10">
        <button ng-click="newContent(content)" class = "btn btn-primary">Add content</button>
      </div>
    </div>
    </form>
</div>
</div>
</div>
