<div ng-controller="userController">

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Make A Connection</h4>
        </div>
        <div class="modal-body">
          <input ng-click="getAllUsers()" placeholder="Search..." type="text" ng-model="userFilter">
          <div ng-repeat="user in allusers|filter:userFilter|limitTo:3">
              <b>{{user.username}}</b> {{user.firstName}} {{user.lastName}} <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="sendRequest(user)">Add</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



    <a href="/logout">Logout</a> <a href="#/profile">profile</a>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Make A Connection</button>
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
  <link rel="stylesheet" href="../css/journalStyle.css">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/home">Ui</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="#/setting"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-remove-sign"></span> Log Out</a></li>
          </ul>
      </li>
      <li><a href="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-search"></span></a></li>
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <div ng-if="currentuser.requests.length>0">
              <div ng-repeat="request in currentuser.requests">
                <li><b>{{request.username}}</b>  <button type="button" name="button" class="btn btn-default" ng-click="acceptRequest(request._id)" style="background-color:#31B0D5; color:white;">Accept</button><button type="button" name="button" ng-click="denyRequest(request._id)"class="btn btn-default" style="background-color:#fc8888; color:white;">Deny</button>
              </div>
            </div>
          </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<link rel="stylesheet" href="../css/journalStyle.css">
  <div class="container">
    <div id="content">
      <div class="welcome">
        <h1 class="welcometext">Welcome {{currentuser.firstName}}</h1>
        <center>
          <a href="#/profile"><img class="mainphoto" src="{{currentuser.picture}}" alt="" /></a>
        </center>
      </div>
<div class="line">

</div>
      <div id="friends">
        <div class="image-box"ng-repeat="journal in currentuser.journals">
          <div ng-if="journal._friend1._id!=currentuser._id">
            <div class="image-box">
              <a href="#/journal/{{journal._id}}"><img class="friends-images" src="{{journal._friend1.picture}}" alt="" /></a>
            </div>
          </div>
          <div ng-if="journal._friend2._id!=currentuser._id">
            <div class="image-box">
              <a href="#/journal/{{journal._id}}"><img class="friends-images" src="{{journal._friend2.picture}}" alt="" /></a>
            </div>
          </div>
        </div>
          <div class='image-box' ng-if="emptyjournals>0" ng-repeat="i in getNumber(emptyjournals)">
              <a href="" data-toggle="modal" data-target="#myModal"><img class="friends-images" src="http://www.drodd.com/images15/question-mark22.gif" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <div id="right-stuff">

    </div>
  </div>





<!-- this top part is the nav bar. Please try to combine the two. Loc already put the log out button -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{allusers}}


</div>
