<link rel="stylesheet" href="../css/home.css">
<link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">

<script src='../jquery/home.js'></script>

<div id="" ng-controller="userController">

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Make A Connection</h4>
        </div>
        <div class="modal-body">
          <input ng-click="getAllUsers()" placeholder="Search..." type="text" ng-model="userFilter">
          <table>
            <tr ng-repeat="user in allusers|filter:userFilter|limitTo:3">
              <td>
                <img id='peopleImage' src="{{user.picture}}" alt="" /> <b>{{user.username}}</b> {{user.firstName}} {{user.lastName}}
              </td>
              <td>
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="sendRequest(user)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <link rel="stylesheet" href="../css/journalStyle.css">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/home">U&I</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-remove-sign"></span> Log Out</a></li>
          </ul>
      </li>
      <li><a href="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-search"></span></a></li>
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <div ng-if="currentuser.requests.length>0">
              <div ng-repeat="request in currentuser.requests">
                <li><b>{{request.username}}</b>  <button type="button" name="button" class="btn btn-default" ng-click="acceptRequest(request._id)" style="background-color:#31B0D5; color:white;"><span class="glyphicon glyphicon-ok"></span></button><button type="button" name="button" ng-click="denyRequest(request._id)"class="btn btn-default" style="background-color:#fc8888; color:white;">
                  <span class="glyphicon glyphicon-remove"></span></button></li>
              </div>
            </div>
          </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<link rel="stylesheet" href="../css/journalStyle.css">
  <div id='ground'>
    <div id="content">
      <div class="welcome">
        <div class="nome" ng-if = 'currentuser.picture.length == 0'>
          <a href="#profile">Add a photo...</a>
        </div>
        <div class='topme' ng-if = 'currentuser.picture.length>0'>
          <div class="me">
            <a href="#/profile"><img class="mainphoto" src="{{currentuser.picture}}" alt="" /></a>
          </div>
          <div class="welcomeMe">
            <h1>Welcome to your personal journal {{currentuser.firstName}}!</h1>
          </div>
        </div>
      </div>
      <div id="friends">
        <div class='awesome' ng-if= 'currentuser.journals.length>0'>
          <h1>Here are your awesome friends...</h1>
        </div>
        <div class="awesome" ng-if = 'currentuser.journals.length<1'>
          <h1>What are you waiting for?! Add an awesome friend!</h1>
        </div>
        <div class="image-box"ng-repeat="journal in currentuser.journals">
          <div ng-if="journal._friend1._id!=currentuser._id">
            <div class="fimage-box">
              <div class="fImage">
                <a href="#/journal/{{journal._id}}"><img class="friends-images" src="{{journal._friend1.picture}}" alt="" />  </a>
              </div>
              <div class="fName">
                <a href="#/journal/{{journal._id}}">{{journal._friend1.firstName}} {{journal._friend1.firstName}}</a>
              </div>

            </div>
          </div>
          <div ng-if="journal._friend2._id!=currentuser._id">
            <div class="fimage-box">
              <div class="fImage">
                <a href="#/journal/{{journal._id}}"><img class="friends-images" src="{{journal._friend2.picture}}" alt="" />  </a>
              </div>
              <div class="fName">
                <a href="#/journal/{{journal._id}}">{{journal._friend2.firstName}} {{journal._friend2.firstName}}</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>

</div>
