<div ng-controller="journalController" ng-init="getjournalanduser()">

  <link rel="stylesheet" href="../css/journal.css">
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC|Comfortaa|Didact+Gothic" rel="stylesheet">
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <link rel="stylesheet" href="../css/journalStyle.css">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/#home">UI</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/journal/{{journal._id}}/chapters">Chapters</a></li>
              <li><a href="#/journal/{{journal._id}}/categories">Categories</a></li>
            </ul>
        </li>
        <li><a href="#/journal/{{journal._id}}/newcontent"><span class="glyphicon glyphicon-plus"></span></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-remove-sign"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
      <div class="">
        <br>
        <br>
        <br>
        <div class="ground">
          <div class="main">
            <div ng-repeat="content in journal.content|filter:chapterfilter|orderBy:'-create_at'">
              <div class="head">
                  <h3> <img src="{{content._user.picture}}" alt="" /><span class='name'>{{content._user.firstName}}</span> <span class="title">{{content.title}}</span> <span class="name">{{content.create_at | date: MM/dd/yyyy}}</span></h3>
              </div>
              <div class="description">
                <p>
                  {{content.description}}
                </p>
              </div>
              <div class="pictures">
                <div>
                  <img src="{{content.images[0]}}" alt="" />
                </div>
              </div>
              <div class="morePic" ng-if = "content.images.length>1">
                <a href="#photoAlbum/{{content._id}}" ><span class="morePic">there are more photos to see! click here...</span></a>
              </div>
              <div class="line">

              </div>
            </div>
          </div>
        </div>
      </div>

</div>
