*{


}

h2{
  font-weight: 700;
}

.container{
  font-family: "Amatica SC" , cursive;
  font-weight: 600;
}

.enterContent{
  padding-top: 5px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height:580px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
}


input{
  margin-left: 165px;
}

select{
  margin-left: 165px;
}

textarea{
  margin-left: 120px;
}

#uploadButton{
  margin-left: 165px;
}

#add_button{
margin-left: 45px;
}
