#ground{
  background: url(../images/light.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1000px;
  background-size: 1920px 1080px;
  margin-left: auto;
  padding-top : 30px;
}

#content{
  width: 1000px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  height: 100%;
  border-right: 4px solid grey;
  border-left: 4px solid grey;
}

.me a{
  display: inline-block;
  width: 100px;
  vertical-align: bottom;
}

.nome {
  margin-top: 100px;
}

.me p{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 35px;
  margin-bottom: 40px;
}
