#ground{
  background: url(../images/snow2.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1300px;
  background-size: 1920px 1080px;
  margin-left: auto;
  padding-top : 30px;
  font-family: "Amatica SC" , cursive;
  font-size: 30px;
}

#content{

}

#peopleImage{
  width: 6%;
  border-radius: 50%;
  margin-top: 1%;
}

.welcome{
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  height: 100%;
  border-right: 4px solid white;
  border-left: 4px solid white;
  padding-bottom: 10px;
  border-bottom: 4px solid white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.topme div{
  display: inline-block;
  vertical-align: bottom;
}

.topme div h1{
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 30px;
  margin-left: 20px;

}


.me a{
  display: inline-block;
  width: 100px;
  vertical-align: bottom;
}

.nome {
  margin-top: 100px;
}

.me p{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 35px;
  margin-bottom: 40px;
  font-size: 20px;
}

.image-box{
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

.fimage-box div{
  display: block;
  margin-right: 30%;
  padding-left: 20%;
}

.fName{
  margin-top: 10px;
  text-align: center;
  margin-right: 0px !important;
}

.fName a{
  text-decoration: none;
  color: silver;
}

#friends{
  padding-top:3%;
}

#friends {
  display: block;
  text-align: center;
}

.awesome{
  border-bottom: 4px solid silver;
  width: 60%;
  margin-left: 20%;
}

.awesome h1{
  font-size: 50px ;
  color: silver ;
}

.welcomeMe{
  margin-left: 10%;
}

.mainphoto{
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 4px solid black;
  /*min-width: 300px;
  min-height: 300px;*/
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px !important;
  margin-left: 30px;
}

.friends-images{

  width: 100%;
  height:100%;
  display:inline-block;
  border-radius: 50%;
  border: 4px solid silver;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;


}
