

.journalcontainer{
  display:inline-block;
}

.welcometext{
  text-align: center;
  font-weight: 600;
}


.line{
  margin-top:50%
  width:auto;
  height: 1px;
  border:2px solid lightgrey;
  border-radius:5%;
}
/*
Chapter.html*/

.chapterline{
  width:50%;
  border:1px solid black;

}
.chapter{
  width:40%;
  border:1px solid gray;
  margin-top:10px;
}
