.main{
  margin: auto;
  width: 50%;
  background: white;
  padding-left: 2%;
  margin-top: 50px;
  padding-top: 1%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 5%;

}

.head img{
  width: 50px;
  border-radius: 50%;
}




.name{
    font-family: "Amatica SC" , cursive;
    margin-left: 1%;
    margin-right: 1%;
}

.ground{
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background: url(../images/running.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-size: 1920px 1080px;
}

.title{
  font-family: 'Comfortaa', cursive;
}

.main div{
  display: block;
}

.description{
  text-align: center;
  font-size: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

.pictures{
  width: 300px;
  padding-right: 2%;
  border-radius: 10%;
  text-align: center;
  margin-left: 35%;
}


.pictures img{
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  height: auto;
  border-radius: 10%;

}

.morePic{
  text-align: center;
  font-size: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

.line{
  border: 4px solid grey;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
