
.image-box{
  display: inline-block;
  margin-left: 4%;
}
#friends{
  padding-top:3%;
}



.friends-images{

  width: 100%;
  height:100%;
  display:inline-block;
  border-radius: 50%;
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;


}
.journalcontainer{
  display:inline-block;
}
.welcome{
  padding-bottom: 10%;
}
.welcometext{
  text-align: center;
  font-weight: 600;
}
.mainphoto{
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 4px solid black;
  /*min-width: 300px;
  min-height: 300px;*/
  max-width: 300px;
  max-height: 300px;
  margin-top: 50px;
  margin-left: 30px;
}

.line{
  margin-top:50%
  width:auto;
  height: 1px;
  border:2px solid lightgrey;
  border-radius:5%;
}
/*
Chapter.html*/

.chapterline{
  width:50%;
  border:1px solid black;

}
.chapter{
  width:40%;
  border:1px solid gray;
  margin-top:10px;
}
