*{
  font-family: "Amatic SC" , cursive;
}

.ground{
  background: url(../images/sunset.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

#welcome{
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
