.enterContent{
  padding-top: 5px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height:580px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
  margin-top: 10%;
}

.container{
  width: 100%;
  font-family: "Amatica SC" , cursive;
  background: url(../images/profile.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1220px;
  background-size: 1920px 100%;
  font-size: 40px;

}

#uploadB{
  font-size: 25px;
  width: 100px;
  font-weight: 40%;
}

#image{
  margin-top: 20%;
  width: 40%;
  border-radius: 50%;
  border: 2px solid silver;
}
